header{
	height: 40px;
	background-color: #333333;
}
.neikuan{
	width: 1226px;
	margin:0  auto; 
}
.headerNav{
	float: left;
	height: 40px;
}
.headerNav  a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
}
.headerNav  a:hover{
	color: #fff;
}
.headerNav  span{
	font-style: normal;
	float: left;
	color: #423d39;
	line-height: 40px;
	font-size: 12px;
}
.headerNav2{
	float: right;
	height: 40px;
}
.headerNav2  a{
	padding: 0 7px;
	float: left;
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
}
.headerNav2  a:hover{
	color: #fff
}
.headerNav2  span{
	font-style: normal;
	float: left;
	color: #423d39;
	line-height: 40px;
	font-size: 12px;
}
.headerNav3{
	width: 95px;
	height: 40px;
	padding-right: 7px;
	float: right;
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
	background: #424242;
	position: relative;
}
.che{
	width: 95px;
	height: 40px;
	font-size: 10px;
	color: #b0b0b0;
	line-height: 40px;
	text-align: center;
	position: relative;
}
.headerNav3 a .che:hover{
	color: #ff6700;
	background: #fff;
}
.headerNav3:hover{
	color: #ff6700;
	background: #fff;
}
.gwlis{
	width: 316px;
	height: 102px;
	position: absolute;
	top:40px;
	right:0;
	font-size: 12px;
	color: #666;
	line-height: 102px;
	text-align: center;
	display: none; 
	z-index: 800;
	background: #fff;
	box-shadow: 0 0 0px 1px #e0e0e0;
}
.gwdang{
	width: 102px;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom:100px;
	right:0;
	z-index: 3;
}
.mainNavarea{
	height: 100px;
}
.mainNav{
	height: 100px;
	position: relative;
}
.navbox{
	height: 55px;
	float: left;
	margin-top: 22px;
}
.logo{
	float: left;
	height: 55px;	
}
.logoimg{
	width: 55px;
	height: 55px;
	float: left;
	background-image: url(../img/mi-logo.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.logoimg  a{
	display: block;
	width: 55px;
	height: 55px;
}
.navzi{
	float: left;
	height: 100%;
}
.navzi  li a{
	padding: 0 10px;
	line-height: 100px;
	font-size: 14px;
	color: #743333;
	float: left;
}
.navzi  li a:hover{
	color: #ff6700;
}
.xsj{
	float: left;
}
.navlis{
	width: 1150px;
	height: 160px;
	background: #fff;
	padding: 35px 38px;
	border-top: 1px solid#ccc;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 1000;
	box-shadow: 0px 0 1px 0px #e0e0e0; 
	display: none;
}
.xppp{
	width: 66px;
	height: 22px;
	border: 1px solid#ff6700;
	font-size: 12px;
	color: #ff6700;
	font-family: 微软雅黑;
	text-align: center;
	line-height: 22px;
	position: absolute;
	top:-35px;
	left: 0;
	right: 0;
	margin: auto;
}
.xmsjm{
	position: relative;
    float: left;
    width: 190px;
    text-align: center;
    border-right: 1px solid#ccc;
}
.xsj:hover  .navlis{
	display: block;
}
.xmsjm2{
    border-right: 0;
}
.xmsjm img{
	margin-top:10px;
	width: 160px;
	height: 110px;
}
.xmsjm p{
	font-size: 12px;
	color: #666;
	font-family: 微软雅黑;
	margin: 0 auto;
	margin-top:15px;
	line-height: 25px;
}
.xmsjm span{
	font-size: 12px;
	color: #666;
	font-family: 微软雅黑;
	text-align: center;
	line-height: 20px;
    color: #ff6700;
}

/*公用样式*/
.mainbgc{
	background-color: #ff6700;
}
.logo  h2{
	margin-left: 14px;
	width: 180px;
	height: 66px;
	float: left;
}
.sousuobox{
	width: 296px;
	height: 50px;
	float:right;
	margin-top: 25px;
	position: relative;
}
.serch{
	width: 283px;
	height: 48px;
	padding-left: 11px;
	border: 1px solid#e0e0e0;
	outline: none;
}
.sousuobtn{
	width: 50px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	position: absolute;
	right:0px;
	top: 0px;
	border: 1px solid#e0e0e0;
}
.sousuobtn:hover{
	color: #fff;
	background: #ff6700;
}
.bannerarea{
	height: 460px;
}
.bannerbox{
	height: 460px;
	background: #92a2ae;
	position: relative;
}
.bannertu{
	position: absolute;
	top:0;
	left: 0;
}
.sousuoBox_1{
	width: 82px;
	height: 18px;
	background: #eeeeee;
	position: absolute;
	top: 16px;
	right: 60px;
	color: #757575;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
}
.sousuoBox_1:hover{
	background:#ff6700;
	color: #fff; 
}
.sousuoBox_2:hover{
	background:#ff6700;
	color: #fff; 
}
.sousuoBox_2{
	width: 53px;
	height: 18px;
	background: #eeeeee;
	position: absolute;
	top: 16px;
	right: 148px;
	color: #757575;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
}
.zuo{
    width: 50px;
    height: 84px;
    font-size: 36px;
    color: #818c91;
    position: absolute;
    top: 200px;
    /* background: red; */
    line-height: 84px;
    text-align: center;
    left: 234px;
    z-index: 5;
    cursor: pointer;
}
.zuo:hover{
	background: rgba(0,0,0,.6);
	color: #fff;
}
.you{
    width: 50px;
    height: 84px;
    font-size: 36px;
    color: #818c91;
    position: absolute;
    top: 200px;
    line-height: 84px;
    text-align: center;
    right: 0px;
    z-index: 5;
    cursor: pointer;
}
.you:hover{
	background: rgba(0,0,0,.6);
	color: #fff;
}
.lunbo{
	width: 90px;
	height: 10px;
	position: absolute;
	bottom: 20px;
	right: 35px;
	cursor:pointer;
	z-index: 800;
}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.lunbo ul{
	width: 90px;
	height: 10px;
}
.lunbo ul li{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background:#666;
	margin-left: 8px;
	float: left; 
}
/*.lunbo ul li:nth-child(2){
	height: 6px;
	border: 1px solid#666;
	background-color: #fff;
}*/
/*.lunbo ul li:hover{
	background-color:#fff;
}*/
.bannerNav{
	width: 234px;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 900;
}
.bannerNav  .bannerNava{
	/*margin-top: 20px;*/
	padding: 20px 0;
	position: relative;
}
.bannerNav ul a{
	display: block;
}
.bannerNav  ul li:hover{
	background-color: #ff6700;
}
.bannerNav  ul  li{
	height: 42px;
	padding-left: 29px;
	padding-right: 24px;

}
.bannerNav  ul  li  i{
	float: right;
	font-style:normal;
	line-height: 42px;
	color: white;
}
.bannerNav  ul  li  span{
	float: left;
	line-height: 42px;
	color: white;
}
.bannerNav  ul li:hover .bannernavlis{
	display: block;
}
.bannernavlis{
	width: 780px;
	height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
	position: absolute;
	top: 0;
	left: 234px;
	display: none;
	z-index: 1000;
	box-shadow: 0px 0px 3px 0px #e0e0e0;
}
.bannernavlis dl{
	width: 248px;
	height: 458px;
	padding: 2px 0;
	float: left;
}
.bannernavlis dt{
	width: 265px;
    height: 76px;
}

.lis2{
	width: 280px;
	height: 458px;
}
.lis3{
	width: 992px;
	height: 458px;
}
.lis4{
	width: 496px;
	height: 458px;
}
.lis5{
	width: 750px;
	height: 458px;
}
.xg{
	width: 58px;
	height: 22px;
	border: 1px solid#ff6700;
    background: #fff;
    color: #ff6700;
    float: right;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
}
.xg:hover{
	background: #ff6700;
	color: #fff;
}
.bannernavlis a{
	display: block;
    padding: 10px 34px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
.bannernavlis img{
	margin-right: 12px;
	width: 40px;
	height: 40px;
	float: left;
}
.bannernavlis p{
	font-size: 12px;
	float: left;
    line-height: 40px;
    transition: color .2s;
    color: #333;
}
.bannernavlis a:hover p{
	color: #ff6700;
}

.nextarea{
	height: 170px;
}
.next{
	width: 1226px;
	height: 170px;
/*	background: red;*/
	margin-top: 14px;
}
.fenleibox{
	width: 1226px;
	height: 170px;	
	margin: 0 auto;
}
.fenleichouti{
	width: 234px;
	height: 145px;
	float: left;
	margin-right: 14px;
	background: #5f5750;
	padding-top: 25px;
}
.choutibox:hover{
	color: #fff;
	cursor: pointer;
}
.choutibox{
	float: left;
    width: 68px;
    height: 55px;
    padding: 0 3px;
    margin-bottom: 5px;
    color: #dadcdd;
}
.fengexian{
	width: 1px;
	height: 50px;
	background:#666; 
	float: left;
	margin-left: 2px;
}
.fengexian2{
	width: 58px;
	height: 1px;
	background:#666; 
	float: left;
	margin-left:14px; 
	margin-bottom: 12px;
}
.chouti_tu{
	width: 24px;
	height: 24px;
	margin: 0 auto;	
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.choutibox .i1{
	font-size: 28px;
	line-height: 20px;
}
.choutibox .i2{
	font-size: 20px;
}
.choutibox .i3{
	font-size: 14px;
	line-height: 24px;
}
.choutibox .i4{
	font-size: 24px;
}
.choutibox .i5{
	font-size: 20px;
}
.choutibox .i6{
	font-size: 20px;
}
.chouti_zi{
	
	font-size: 11px;
	text-align: center;
	cursor: pointer;
}
.next2{
	width: 316px;
	height: 170px;
/*	background: yellow;*/
	float: left;
}
.next3{
	width: 315px;
	height: 170px;
/*	background: yellow;*/
	float: left;
	margin-left: 15px;
}
.next4{
	width: 315px;
	height: 170px;
/*	background: yellow;*/
	float: left;
	margin-left: 15px;
}
.danpinarea{
	height: 379px;
	margin-top: 44px;
}
.danpin{
	height: 379px;
	overflow: hidden;
	position: relative;
}
.danpin_shang{
	height: 40px;
}
.xiaomidanpin{
	width: 130px;
	height: 21px;
	font-size: 20px;
	color: #333333;
	float: left;
}
.danpin_jt{
	width: 72px;
	height: 24px;
	border: 1px solid#e0e0e0;
	margin-top:6px;
	float: right;
}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.danpin_jt ul li a{
	display: block;
	width: 35px;
	height: 24px;
	color: #000;
	border-right: 1px solid#e0e0e0;
	text-align: center;
	line-height: 24px;
	float: left;
}
.danpin_jt ul li a:hover{
	color: #ff6700;
}
.danpin_jt ul li{
	border-right:0;
}
.danpin_box{
	height: 339px;
	position: absolute;
	left: 0;
	top:41px;
}

.danpin_box_tu{
	width: 234px;
	height: 339px;
/*	background: pink;*/
	float: left;
	margin-right: 14px;
}
.danpin_box_tu1{
	width: 234px;
	height: 230px;
	border-top: 1px solid#ffac13
}
.danpin_box_tu2{
	width: 234px;
	height: 230px;
	border-top: 1px solid#83c44e;
}
.danpin_box_tu3{
	width: 234px;
	height: 230px;
	border-top: 1px solid#2196f3;
}
.danpin_box_tu4{
	width: 234px;
	height: 230px;
	border-top: 1px solid#e53935;
}
.danpin_box_tu5{
	width: 234px;
	height: 230px;
	border-top: 1px solid#00c0a5;
}
.danpin_box_ttu{
	width: 234px;
	height: 339px;
	float: right;
	margin-right: 0;
}
.danpin_box_zi{
	width: 234px;
	height: 109px;
	background: #fafafa;
}
.shouji{
	width: 105px;
	height: 12px;
	font-size: 12px;
	color: #935433;
	margin-left: 65px;
	margin-top: 0;
}
.sizhou{
	width: 192px;
	height: 11px;
	font-size: 11px;
	color: #b0b0b0;
	margin-left: 21px;
	margin-top: 11px;
}
.sizhouqian{
	width: 45px;
	height: 12px;
	font-size: 12px;
	color: #ff6709;
	margin-left: 95px;
	margin-top: 20px;
}
.dianshi{
	width: 120px;
	height: 12px;
	font-size: 12px;
	color: #935433;
	margin-left: 57px;
	margin-top: 0;
}
.yuanzhuang{
	width: 120px;
	height: 11px;
	font-size: 11px;
	color: #b0b0b0;
	margin-left: 57px;
	margin-top: 11px;
}
.yuanzhaungqian{
	width: 45px;
	height: 12px;
	font-size: 12px;
	color: #ff6709;
	margin-left: 95px;
	margin-top: 20px;
}
.yiyuan{
	width: 92px;
	height: 12px;
	font-size: 12px;
	color: #935433;
	margin-left: 71px;
	margin-top: 0;
}
.shuangxiang{
	width: 169px;
	height: 11px;
	font-size: 11px;
	color: #b0b0b0;
	margin-left: 32px;
	margin-top: 11px;
}
.yiyuanqian{
	width: 45px;
	height: 12px;
	font-size: 12px;
	color: #ff6709;
	margin-left: 95px;
	margin-top: 20px;
}
.shouhuan{
	width: 69px;
	height: 12px;
	font-size: 12px;
	color: #935433;
	margin-left: 82px;
	margin-top: 0;
}
.oled{
	width: 168px;
	height: 11px;
	font-size: 11px;
	color: #b0b0b0;
	margin-left: 33px;
	margin-top: 11px;
}
.oledqian{
	width: 37px;
	height: 12px;
	font-size: 12px;
	color: #ff6709;
	margin-left: 94px;
	margin-top: 20px;
}
.mijia{
	width: 99px;
	height: 12px;
	font-size: 12px;
	color: #935433;
	margin-left: 67px;
	margin-top: 0;
}
.zhineng{
	width: 168px;
	height: 11px;
	font-size: 11px;
	color: #b0b0b0;
	margin-left: 33px;
	margin-top: 11px;
}
.zhinengqian{
	width: 45px;
	height: 12px;
	font-size: 12px;
	color: #ff6709;
	margin-left: 95px;
	margin-top: 20px;
}
.binxiangarea{
	height: 786px;
	background: #f5f5f5;
	margin-top: 40px;
	border-top: 1px solid#f5f5f5;
}
.bx_sz{
	height: 20px;
	margin-top: 78px;
}
.bx_sz:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.sz_1{
	font-size: 20px;
	color: #333333;
	float: left;
}
.sz_2{
	float: right;
}
.sz_2 a{
	display: block;
	font-size: 15px;
	color: #333333;
	line-height: 20px;
	margin-left: 30px; 
	float: left;
}
.sz_2 a:hover{
	color: #ff6700;
}
.sz_2:hover{
	color: #ff6700;
}
.bx_sz ul{
	float: right;
}
.bx_sz ul li{
	display: block;
	font-size: 15px;
	color: #333333;
	line-height: 20px;
	margin-left: 30px; 
	float: left;
}
.bx_sz ul li a{
	color: #333333;
}
.bx_sz ul li a:hover{
	color: #ff6700;
}
.bx_sz ul:hover{
	color: #ff6700;
}


.dapeiarea{
	height: 786px;
	background: #f5f5f5;
	margin-top: 40px;
	border-top: 1px solid#f5f5f5;
}
.dapeiqu{
	position: relative;
}
.dapei_qu{
	position: relative;
}
.peijian_qu{
	position: relative;
}
.dapeiqu h2{
	height: 58px;
    line-height: 58px;
    font-weight: normal;
    font-size: 20px;
    color: #333;
}
.gengduo{
	width: 328px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin-top: 5px;
}
.gengremen{
	/*margin:0;*/
	padding-top: 16px;
    margin-right: 25px;
	font-size: 15px;
	float: left;
    cursor: pointer;
}
.gengremen:hover{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;

}
.gengduozi{
	margin: 0;
    padding: 16px 0 0;
    font-size: 16px;
    float: left;
    cursor: pointer;
}
.dapeitu{
    position: relative;
    height: 100%;
    width: 100%;
}
.dapeitu1:hover,.dapeitu2:hover,.dapeitu3:hover,.dapeitu4:hover{
	transition: transform 0.4s;
	transform: translateY(-4px);
    box-shadow: 0 3px 26px rgba(0,0,0,0.18);
}
.dapei_tu:hover,.dapei_tu2:hover,.dapei_tu3:hover,.dapei_tu4:hover{
    transition: transform 0.4s;
    transform: translateY(-4px);
    box-shadow: 0 3px 26px rgba(0,0,0,0.18);
}

.dapeitu1{
	width: 234px;
	height: 300px;
	float: left;
	margin-bottom: 14px;
	cursor: pointer;
}
.dptpf{
    display: flex;
    flex-direction: column;
    width: 234px;
    float: left;
}
.dptps{
    width: 992px;
    position: absolute;
    top: 0;
    right: 0;
}
.dapei_tu{
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
	overflow: hidden;
	cursor: pointer;
    transition: transform 0.4s;
}
.one,.aaa{
	display: block;
	z-index: 1000;
}
.two,.three,.four,.sss,.ddd,.fff{
	display: none;
}
.dapei_tu img{
	width: 234px;
	height: 300px;
	display: block;
}
.dapeitu1 img{
	width: 234px;
	height: 300px;
	display: block;

}
.dptbox{
	height: 100%;
	position: absolute;
	top:58px;
	left: 0;
	
}
.dptbox_left{
	overflow: hidden;
	

}
.dapeitu2{
	width: 234px;
	height: 246px;
	/*display: inline-block;*/
	padding: 34px 0 20px;
	background: #fff;
	text-align: center;
	margin-left: 14px;
    margin-bottom: 14px;
	float: left;
	cursor: pointer;
}
.dapei_tu2{
	width: 234px;
	height: 246px;
	/*display: inline-block;*/
	padding: 34px 0 20px;
	background: #fff;
	text-align: center;
	margin-left: 14px;
    margin-bottom: 14px;
	float: left;
	cursor: pointer;
	position: relative;
}
.dapeitu2_xiala{
    position: absolute;
    bottom: 0;
    width: 194px;
    height: 52px;
    background: orange;
    padding: 10px 20px;
    display: none;

}
.dapei_tu2 img{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
	display: block;
}
.dapeitu2 img{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
	display: block;
}
.dapeitu h3{
	font-size: 12px;
	color: #333;
	font-weight: normal;
	display: block;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
}
.dapeitu2 .dapeijia{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	overflow: hidden;
	display: block;
	margin: 0 10px 10px;
}
.dapeitu2 .dapeipin{
	font-size: 14px;
	color: #b0b0b0;
	text-align: center;
}
.dapeitu34{
	width: 234px;
	height: 300px;
	cursor: pointer;
	margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    /*position: relative;*/
}
.dapeitu3{
	width: 234px;
	height: 93px;
	background: #fff;
	padding-top: 50px;
    margin-bottom: 14px;
    text-align: center;
    cursor: pointer;
}
.dapei_tu3{
	width: 234px;
	height: 93px;
	background: #fff;
	padding-top: 50px;
    margin-bottom: 14px;
    text-align: center;
    cursor: pointer;
}
.dapeitu4{
	width: 234px;
	height: 93px;
    background: #fff;
    padding-top: 50px;
}
.dapei_tu4{
	width: 234px;
	height: 93px;
    background: #fff;
    padding-top: 50px;
}

.dapeitu3 .dapeipin{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.dapei_tu3 .dapeipin{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.dapei_tu2 .dapeipin{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.dapeitu3 .dapeijia{
	font-size: 12px;
	color: #ff6700;
	margin: 0 0;
}
.dapei_tu3 .dapeijia{
	font-size: 12px;
	color: #ff6700;
	margin: 0 10px 10px;
}
.dapei_tu2 .dapeijia{
	font-size: 12px;
	color: #ff6700;
	margin: 0 10px 10px;
}
.dapeitu3 img{
	width: 80px;
	height: 80px;
	/*margin: 0 auto 18px;*/
	display: inline-block;
	float: right;
}
.dapei_tu3 img{
	width: 80px;
	height: 80px;
	/*margin: 0 auto 18px;*/
	display: inline-block;
	float: right;
}
.dapeitu4 img{
	width: 50px;
	height: 50px;
	/*margin: 0 auto 18px;*/
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.dapei_tu4 img{
	width: 50px;
	height: 50px;
	/*margin: 0 auto 18px;*/
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.dapeitu3 h3{
	font-size: 12px;
    color: #333;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}
.dapei_tu3 h3{
	font-size: 12px;
    color: #333;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}
.dapeitu4 h3{
	font-size: 12px;
    color: #333;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 30px
}
.dapei_tu4 h3{
	font-size: 12px;
    color: #333;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 30px
}
.bx_box{
	height: 614px;
	margin-top: 19px;
	position: relative;
}
.bx_box:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.bx_boxz{
	width: 234px;
	height: 614px;
	float: left;
	transition: all 0.2s linear;
}
.bx_boxzaa .bbxxtu{
	width: 234px;
	height: 300px;
	margin-bottom:14px;
	transition: all 0.2s linear;
}
.bx_boxzaa .bbxxtu2{
	width: 234px;
	height: 300px;
	transition: all 0.2s;
}
.bx_boxzaa .bbxxtu2:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0); 
}
.bx_boxzaa .bbxxtu:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0); 
}
.bx_boxzaa{
	width: 234px;
	height: 614px;
	float: left;
}
.bx_boxz:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0); 
}
.bx_boxy{
	width: 992px;
	height: 614px;
	float: right;
}
.ybox_s{
	width: 992px;
	height: 300px;
}
.ybox_s:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.ybox_x{
	width: 992px;
	height: 300px;
	margin-top: 14px;
}
.ybox_x:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.ysbox{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	background: #ffffff;
	transition: all 0.3s linear;
	overflow: hidden;
	position: relative;
}
.ysbox:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translateY(-5px); 
}
.ysbox .jieshao{
	position: absolute;
    bottom: -75px;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 75px;
    font-size: 12px;
    background: #ff6700;
    overflow: hidden;
    transition: all 0.3s linear;
}
.ysbox:hover .jieshao{
	bottom: 0;	
}
.ysbox .jieshao p{
	font-size: 12px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 35px;
	text-align: center;
}
.boxl{
	width: 64px;
	height: 20px;
	background: #83c44e;
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color:#fff;
}
.boxll{
	width: 64px;
	height: 20px;
	background: #fff;
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 3px;
	text-align: center;
	color:#fff;
}
.boxlll{
	background:#e53935;
}
.boxllll{
	background: #83c44e;
}
.boxt{
	width: 160px;
	height: 160px;
	margin: 0 auto;
}
.boxt a img{
	width: 160px;
	height: 160px;
}
.ysbox  .boxz  a{
	font-size: 12px;
	color: #333333;
	margin-top: 23px;
	margin-left: 45px;
}
.boxz2{
	font-size: 11px;
	color: #b0b0b0;
	margin-top: 9px;
	text-align: center;
}
.boxz2{
	font-size: 11px;
	color: #b0c5da;
	margin-top: 9px;
	text-align: center;
}
.boxz3{
	font-size: 12px;
	color: #ff6700;
	margin-top: 19px;
	text-align: center;
}
.halibotearea{
	height: 478px;
	margin-top: 22px;
}
.hlbt{
	width: 1226px;
	height: 478px;
}
.hlbo_s{
	width: 1226px;
	height: 58px;
}
.hlbo_s h1{
	font-size: 20px;
    color: #333333;
    line-height: 58px;
}
.hlbo_x{
	width: 1226px;
	height: 420px;
}
.hlbo_x ul li{
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    margin-right: 12px;
    background: #fff;
    transition: all 0.2s linear;
    overflow: hidden;
}
.hlbo_x ul li:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0); 
}
.hlbo_x ul li:nth-child(1){
	border-top: 1px solid#ffac13;
}
.hlbo_x ul li:nth-child(2){
	border-top: 1px solid#83c44e;
}
.hlbo_x ul li:nth-child(3){
	border-top: 1px solid#e53935;
}
.hlbo_x ul li:last-child{
	border-top: 1px solid#2196f3;
	margin-right: 0;
}
.hlbo_x ul li h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.nnn1{
	color: #ffac13;
}
.nnn2{
	color: #83c44e;
}
.nnn3{
	color: #e53935;
}
.nnn4{
	color: #2196f3;
}
.hlbo_x ul li h4{
	margin: 0 20px 5px;
    font-size: 20px;
    color: #333;
    font-weight: 400;
    line-height: 1.25;
    font-family: 苹方;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hlbo_x ul li p{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.hlbo_x ul li h1{
    font-size: 12px;
	height: 21px;
	color: #333;
    margin: 0 10px 15px;
    text-align: center;
}
.hltuu{
	width: 216px;
    height: 154px;
    margin: 0 auto;
}
.llbbo{
	position: absolute;
    bottom: 15px;
    left: 110px;
    right: 0;
    margin: auto;
    width: 296px;
}
.llbbo dl dt{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid#ff6700;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.llbbo dl dt:hover{
	background: #ff6700;
}
.llbbo2 dl dt:hover{
	background: #ff6700;
}
.llbbo3 dl dt:hover{
	background: #ff6700;
}
.llbbo4 dl dt:hover{
	background: #ff6700;
}
/*.llbbo dl dt:first-child{
	margin-top: -2px;
	background:#fff;
	border: 2px solid#ff6700;
}*/
.hllbo{
	position: absolute;
	left: 0;
	top:81px;
	width: 296px;
}
.zzjj1{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	display: none;
	cursor: pointer;
}

.yyjj1{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
	background: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	margin: auto;
	display: none;
	cursor: pointer;
}
.llbbo2{
	position: absolute;
    bottom: 15px;
    left: 110px;
    right: 0;
    margin: auto;
    width: 296px;
}
.llbbo2 dl dt{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid#ff6700;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
/*.llbbo2 dl dt:first-child{
	margin-top: -2px;
	background:#fff;
	border: 2px solid#ff6700;
}*/
.hllbo2{
	position: absolute;
	left: 0;
	top:81px;
	width: 296px;
}
.zzjj12{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	display: none;
	cursor: pointer;
}

.yyjj12{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
	background: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	margin: auto;
	display: none;
	cursor: pointer;
}
.llbbo3{
	position: absolute;
    bottom: 15px;
    left: 110px;
    right: 0;
    margin: auto;
    width: 296px;
}
.llbbo3 dl dt{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid#ff6700;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
/*.llbbo3 dl dt:first-child{
	margin-top: -2px;
	background:#fff;
	border: 2px solid#ff6700;
}*/
.hllbo3{
	position: absolute;
	left: 0;
	top:81px;
	width: 296px;
}
.zzjj13{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	display: none;
	cursor: pointer;
}

.yyjj13{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
	background: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	margin: auto;
	display: none;
	cursor: pointer;
}
.llbbo4{
	position: absolute;
    bottom: 15px;
    left: 110px;
    right: 0;
    margin: auto;
    width: 296px;
}
.llbbo4 dl dt{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid#ff6700;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
/*.llbbo4 dl dt:first-child{
	margin-top: -2px;
	background:#fff;
	border: 2px solid#ff6700;
}*/
.hllbo4{
	position: absolute;
	left: 0;
	top:81px;
	width: 296px;
}
.zzjj14{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	display: none;
	cursor: pointer;
}

.yyjj14{
	width: 20px;
	height: 48px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
	background: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index:5;
	margin: auto;
	display: none;
	cursor: pointer;
}
.hlbo_x ul li:hover .zzjj1{
	display: block;
}
.hlbo_x ul li:hover .yyjj1{
	display: block;
}
.hlbo_x ul li:hover .zzjj12{
	display: block;
}
.hlbo_x ul li:hover .yyjj12{
	display: block;
}
.hlbo_x ul li:hover .zzjj13{
	display: block;
}
.hlbo_x ul li:hover .yyjj13{
	display: block;
}
.hlbo_x ul li:hover .zzjj14{
	display: block;
}
.hlbo_x ul li:hover .yyjj14{
	display: block;
}
.repin{
	margin-top: 50px;
	overflow: hidden;
}
.repin h1{
	font-size: 20px;
    color: #333333;
}
.repin ul{
	margin-top: 10px;
	overflow: hidden;
}
.repin ul li{
	width: 296px;
	height: 416px;
	float: left;
	margin-right: 13px;
	background: #fff;
	transition: all 0.2s linear;
}
.repin ul li:hover{
	box-shadow:  0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0); 
}
.repin ul li:nth-child(1){
	margin-left: -42px;
}
.repin ul li:nth-child(4){
	margin-right: 0;
}
.repin ul li .repin_text{
	color: #212121;
	font-size: 14px;
	width: 240px;
	
	line-height: 24px;
	margin-top: 31px;
	margin-left: 30px;
}
.repin ul li .repin_text a{
	color: #212121;
	font-size: 12px;
	letter-spacing: 2px;
}
.repin ul li .repin_tx{
	font-size: 12px;
	color: #b0b0b0;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.repin ul li .repin_a{
	color: #212121;
	font-size: 12px;
	display: block;
	margin-left: 30px;
}
.repin ul li .repin_a i{
	font-style: normal;
	margin: 0 9px;
}
.repin ul li .repin_a span{
	color: #ff6700;
}
.repin ul li .repin_box:hover{
	cursor: pointer;
}

footer{
	height: 460px;
}
.footerbox{
	height: 460px;
/*	background: red;*/
	margin-top: 60px;
}
.footer_shang{
	height: 79px;
/*	background: pink;*/
}
.footer_shang  a{
	padding: 0 71px;
	float: left;
	color: #616161;
	line-height: 79px;
	font-size: 15px;
}
.footer_shang  a:hover{
	color: #ff6709;
}
.footer_shang  span{
	font-style: normal;
	float: left;
	color: #e0e0e0;
	line-height: 79px;
	font-size: 15px;
}
.footer_zhong{
	height: 192px;
	border-top: 1px solid#e0e0e0;
/*	background: red;*/
}
.footer_zhong_zuo{
	width: 975px;
	height: 193px;
	float: left;
/*	background: pink;*/
/*	border-top: 1px solid#e0e0e0;*/
}
.zuo_sb{
	height: 54px;
}
.zuo_s{
	width: 56px;
	height: 12px;
	font-size: 12px;
	color: #424242;
	margin-top: 42px;
	margin-right: 105px;
	float: left;
}
.xiayi{
	height: 43px;
}
.zuo_s1{
	width: 49px;
	height: 11px;
	font-size: 11px;
	color: #757575;
	margin-top: 32px;
	margin-right: 113px;
	float: left;
}
.zuo_s1:hover{
	color: #ff6709;
}
.xiaer{
	height: 28px;
}
.zuo_s2{
	width: 49px;
	height: 11px;
	font-size: 11px;
	color: #757575;
	margin-top: 17px;
	margin-right: 113px;
	float: left;
}
.zuo_s2:hover{
	color: #ff6709;
}
.xiasan{
	height: 28px;
}
.zuo_s3{
	width: 49px;
	height: 11px;
	font-size: 11px;
	color: #757575;
	margin-top: 17px;
	margin-right: 113px;
	float: left;
}
.zuo_s3:hover{
	color: #ff6709;
}
.footer_zhong_you{
	width: 251px;
	height: 193px;
	float: right;
/*	background: pink;*/

}
.you_kefu{
	width: 251px;
	height: 112px;
/*	background: pink;*/
	border-left: 1px solid#e0e0e0;
	margin-top: 41px;
}
.kf_tel{
	height: 16px;
	font-size: 16px;
	color: #ff6700;
	text-align: center;
}
.kf_zhou{
	height: 11px;
	font-size: 11px;
	color: #616161;
	margin-top: 12px;
	text-align: center;
}
.kf_sh{
	height: 11px;
	font-size: 11px;
	color: #616161;
	margin-top: 7px;
	text-align: center
}
.kf_zx{
	width: 118px;
	height: 28px;
	border:1px solid#ff6700;
	margin-top: 19px;
	margin-left: 65px;
}
.kf_zx_zi a{
	display: block;
	width: 118px;
	height: 28px;
	font-size: 12px;
	color: #ff6700;
	float: left;
	line-height: 28px;
	text-align: center;
}
.kf_zx_zi a:hover{
	background: #ff6700;
	color: #fff;
}
.footer_di{
	width: 1226px;
	height: 165px;
	background:#fafafa;
	border-top: 1px solid#fff;
}
.footer_di_zs{
	width: 790px;
	height: 87px;
	float: left;
}
.zs_logo{
	float: left;
	height: 55px;
	margin-top: 30px;	
}
.zs_logoimg{
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 30px;
	background-image: url(../img/mi-logo.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.zs_zk{
	width: 724px;
	height: 48px;
	margin-left: 10px;
	margin-top: 34px;
	float: left;
/*	background: pink;*/
}
.zs_zk_s{
	height: 13px;
/*	background: green;*/
}
.zs_zk_s  a{
	font-size: 11px;
	color: #757575;
	float: left;
}
.zs_zk_s  a:hover{
	color:#ff6709;
}
.zs_zk_s  span{
	font-size: 13px;
	color: #b0c3d7;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}
.zs_zk_z{
	width: 582px;
	height: 11px;
	margin-top: 5px;
/*	background: green;*/
}
.zs_zk_z  a{
	height: 11px;
	font-size: 10px;
	color: #b0b0b0;
	margin-top: 5px;
	float: left;
}
.zs_zk_z  a:hover{
	color:#ff6709;;
}
.zs_zk_x{
	width: 579px;
	height: 11px;
	font-size: 11px;
	color: #bcb0c8;
	margin-top: 7px;
/*	background: green;*/
}
.footer_di_ys{
	width: 365px;
	height: 29px;
	margin-top: 34px;
	margin-right: 5px;
	float: right;
}
.ys_tu1{
	width: 84px;
	height: 29px;
	float: left;
}
.ys_tu2{
	width: 84px;
	height: 29px;
	/*background: green;*/
	float: left;
	margin-left: 8px;
}
.ys_tu3{
	width: 84px;
	height: 29px;
	float: left;
	margin-left: 8px;
}
.ys_tu4{
	width: 84px;
	height: 29px;
	float: left;
	margin-left: 8px;
}
.footer_di_xia{
	height: 80px;
	margin-top: 88px;
	font-size: 16px;
	line-height: 80px;
	text-align: center;	
}
